<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF robosub">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.1191 0.38744 0.43061"
        rpy="0 0 0" />
      <mass
        value="15.844" />
      <inertia
        ixx="0.25852"
        ixy="-7.431E-06"
        ixz="6.5652E-05"
        iyy="0.43597"
        iyz="0.0013605"
        izz="0.21614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
				<box size="2 2 1"/>
			</geometry>
    </collision>
  </link>
</robot>